---
title: Craveytrain
layout: base
css: home.css
---
<header>
	<h1>{{ '/img/logo-text.svg' | svgContents }}</h1>

	<img class="headshot" src="/img/illustration.png" alt="Caricature of headshot of Mike Cravey." />

	<section class="hero">
		<p>
			<span class="welcome">Hey y’all<span class="accent">,</span></span>
			my name is
			<strong>Mike Cravey</strong>. I'm a father, husband, teacher, and geek.
		</p>
	</section>
</header>

<main data-theme="dracula-light">
	<section>
		{% assign about = collections.about | last %}
		<h2 class="h3">{{ about.data.title }}</h2>

		{% include "contact-links" %}

		{{ about.content }}
	</section>

	<section>
		<h2 class="h3"><a href="/posts">Posts</a></h2>
		{% assign post = collections.post | last %}
		<h3 class="h5"><a href="{{post.url}}">{{post.data.title}}</a></h3>

		{% excerpt post %}
	</section>
</main>
