meta(charset='utf-8')
title= title
meta(name='description', content=site.description)
meta(name='author', content=site.author)
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='HandheldFriendly', content='True')
meta(name='MobileOptimized', content='320')
meta(name='viewport', content='width=device-width')
link(rel='alternative', title=site.title, type='application/atom+xml', href=site.feed)
link(rel='author', href='/#author', title='About the author')
link(rel='home', href='/', title='Home')
block stylesheet
  link(rel='stylesheet', href=`/css/${site.assets['main.css']}`)
  link(rel='stylesheet', href=`/css/${site.assets['solarized-dark.css']}`)
// Welcome to the source code. Enjoy yourself. Questions, concerns, comments, drop me a line.
