---
layout: base
---
<header>
	<!-- TODO: This should conditionally be a link if it's not the home page -->
	<h1><a href="/">{{ '/img/logo-text.svg' | svgContents }}</a></h1>
</header>

<main data-theme="dracula-light">
	<article>
		<h1 class="post-title">{{- title -}}</h1>

		{% include "post-metadata" %}

		{{ content }}

		<section class="feedback">
			<h2>Feedback</h2>
			{% assign webmentionUrl = page.url | url | absoluteUrl: metadata.url %}
			<!-- Filter the cached mentions to only include ones matching the post's url -->
			{% assign mentions = webmentions | getWebmentionsForUrl: webmentionUrl %}

			<div class="feedback-inline-wrapper">
				<!-- Set likes as mentions that are `like-of`  -->
				{% assign likes = mentions | webmentionsByType: 'like-of' %}
				{% assign likeCount = likes | size %}
				{% if likeCount > 0 %}
					<h3 class="feedback-type-title">{{ likeCount }} {{ "Like" | pluralize: likeCount }}</h3>
					{% include "webmentions", webmentions: likes %}
				{% endif %}
			</div>

			<div class="feedback-inline-wrapper">
				<!-- Set reposts as mentions that are `repost-of`  -->
				{% assign reposts = mentions | webmentionsByType: 'repost-of' %}
				{% assign repostCount = reposts | size %}
				{% if repostCount > 0 %}
					<h3 class="feedback-type-title">{{ repostCount }} {{ "Repost" | pluralize: repostCount }}</h3>

					{% include "webmentions", webmentions: reposts %}
				{% endif %}
			</div>

			<div>
				<!-- Set replies as mentions that are `in-reply-to`  -->
				{% assign replies = mentions | webmentionsByType: 'in-reply-to'  %}
				{% assign replyCount = replies | size %}
				{% if replyCount > 0 %}
					<h3>{{ replyCount }} {{ "Reply" | pluralize: replyCount, "Replies"}}</h3>
					{% include "replies" replies: replies %}
				{% endif %}
			</div>
		</section>
	</article>
</main>
