article.post
	h1= post.title
	!= post.content
	footer
		time(datetime: post.timestamp, pubdate)= post.timestamp.toRelative()
		ul.tags
			- var iLastTag = post.tags.length - 1
			- each tag, i in post.tags
				li
					a(href: '/tags/' + tag.urlify())= "#" + tag
					- if (i < iLastTag)
						|	,&nbsp;
	aside#comments
		h1= post.comments.length + ' Comment'.pluralize(post.comments.length)
		- each comment in post.comments
			article.comment
				img.authorImg(src: comment.author.img, alt: comment.author.name)
				p.authorName
					a.authorLink(href: comment.author.url, rel: 'external nofollow')= comment.author.name
				div.commentTxt!= comment.comment
				p.timeStamp
					a(href: '#' + comment.id)= comment.timestamp.toRelative()
		- if (page.user)
			form#commentForm(action: '/comment/' + post._id, method: 'post')
				label(for: 'comment') Leave your own comment
				textarea#comment(name: 'comment')
				button#submit Post
		- else
			a(href: '/auth/login')
				img(alt: 'Sign in with Twitter to comment', src: '/img/sign-in-with-twitter-d.png')