{% for reply in replies %}
	<article id="webmention-{{ reply['wm-id'] }}">
		<div class="webmention__meta">
			{% if reply.author %}
				{% if reply.author.photo %}
				<img src="{{ reply.author.photo }}" alt="{{ reply.author.name }}" width="56" height="56" loading="lazy" />
				{% comment %} {% else %}
				<img src="{{ '/img/avatar.svg' | url }}" alt="" width="48" height="48"> {% endcomment %}
				{% endif %}
				<span>
					<a class="h-card u-url" {% if reply.url %}href="{{ reply.url }}" {% endif %} target="_blank" rel="noopener noreferrer"><strong class="p-name">{{ reply.author.name }}</strong></a>
				</span>
			{% else %}
				<span>
					<strong>Anonymous</strong>
				</span>
			{% endif %}
			{% if reply.published %}
					<time class="postlist-date" datetime="{{ reply.published }}">
							{{ reply.published | prettyDate }}
					</time>
			{% endif %}
		</div>
		<div>
				{{ reply.content.text }}
		</div>
	</article>
{% endfor %}
