!!! 5

//if IE lt 7
	html(lang='en-US', dir='ltr').no-js.ie6
//if IE 7
	html(lang='en-US', dir='ltr').no-js.ie7
//if IE 8
	html(lang='en-US', dir='ltr').no-js.ie8
html(lang='en-US', dir='ltr').no-js

	head
		meta(charset='utf-8')
		title= page.title
		meta(name='description', content=page.desc)
		meta(name='author', content='Mike Cravey')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		script
			var ct = {};
		style
			@font-face {
				font-family: 'MuseoSlab500';
				src: url('/font/museoslab/Museo_Slab_500-webfont.eot');
				src: url('/font/museoslab/Museo_Slab_500-webfont.eot?iefix') format('eot'),
				url('/font/museoslab/Museo_Slab_500-webfont.woff') format('woff'),
				url('/font/museoslab/Museo_Slab_500-webfont.ttf') format('truetype');
				font-weight: normal;
				font-style: normal;
			}
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/github.css')
		link(rel='alternate', title='All of Craveytrain', href='/feed', type='application/rss+xml')
		link(rel='author', href='/about', title='About the author')
		link(rel='home', href='/', title='Home')
		// Welcome to the source code. Enjoy yourself. Questions, concerns, comments, drop me a line.
	body(id=page.bodyId, class=page.bodyClass)
		header.siteBanner(role='banner')
			p.siteName
				a(href='/', target='_top') craveytrain
			nav(role='navigation')
				ul
					li
						a(href='/', target='_top') Home
					li
						a(href='/posts') Posts
					li
						a(href='/#about') About
					li
						a(href='/#contact') Contact
		section.main(role='main')
			- for (var type in page.msgs)
				ul(class=type + ' messages')
					- each msg in page.msgs[type]
						li= msg
			!= body

		script(src='/js/libs/ender.min.js')
		script
			$script('/js/global.js')
		script
			var _gaq = [["_setAccount","UA-3516156-4"], ["_trackPageview"], ['_trackPageLoadTime']];
			$script(('https:' == location.protocol ? '//ssl' : '//www' ) + '.google-analytics.com/ga.js');
